.movieItem {
    display: inline-block;
    background: #000000;
    font-size: 1rem;
    margin-left: 5.5rem;
    margin-top: 2rem;
    background-color: black;
    position: relative;
}

.movieItem img {
    width: 200px;
    /* adjust as needed */
    height: 300px;
    /* adjust as needed */
    object-fit: cover;
    /* this will ensure the aspect ratio of the image is maintained */
}

.moviePoster {
    transition: transform 0.3s ease-in-out;
}

.moviePoster:hover {
    transform: scale(1.1);
}

.movieInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.movieItem:hover .movieInfo {
    visibility: visible;
    opacity: 1;
}

.movieTitle {
    font-size: 20px;
    color: white;
    font-weight: bold;
    word-break: break-all;
    margin: 0;
}

.movieYear {
    font-size: 16px;
    color: white;
    margin: 0;
}