.movieItem {
    display: inline-block;
    background: #000000;
    font-size: 1rem;
    margin-left: 5.5rem;
    margin-top: 2rem;
    background-color: black;
    position: relative;
}

.movieItem img {
    width: 200px;
    /* adjust as needed */
    height: 300px;
    /* adjust as needed */
    object-fit: cover;
    /* this will ensure the aspect ratio of the image is maintained */
}

.movieContent {
    position: relative;
    overflow: hidden;
}

.moviePoster {
    transition: transform 0.3s ease;
}

.movieContent:hover .moviePoster {
    transform: scale(1.1);
}

.movieInfo {
    position: absolute;
    bottom: 0;
    background: rgba(15, 12, 12, 0.7);
    color: rgb(166, 164, 164);
    transition: opacity 0.3s ease;
    opacity: 0;
    max-height: 150px;
    overflow: hidden;
}

.movieContent:hover .movieInfo {
    opacity: 1;
}

.movieTitle {
    font-size: 20px;
    color: white;
    font-weight: bold;
    word-break: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
}

.movieYear {
    font-size: 16px;
    color: whitesmoke;
    margin-top: 0;
    margin-bottom: 0;
}

.moviePlot {
    font-size: 18px;
    color: whitesmoke;
    margin-top: 0;
    font-weight: semi-bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    width: 200px;
    /* Adjust as needed */
    height: 150px;
    /* Adjust as needed */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Number of lines you want to display */
    -webkit-box-orient: vertical;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.movieRuntime {
    font-size: 16px;
    color: whitesmoke;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.movieYearRuntime {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

button {
    background: none;
    border: none;
    padding: 0;
}