.movieItem {
    display: inline-block;
    background: #000000;
    font-size: 1rem;
    margin-left: 5.5rem;
    margin-top: 2rem;
    background-color: black;
}

.movieItem img {
    width: 200px;
    /* adjust as needed */
    height: 300px;
    /* adjust as needed */
    object-fit: cover;
    /* this will ensure the aspect ratio of the image is maintained */
}

.moviePoster {
    transition: transform 0.3s ease-in-out;
}

.moviePoster:hover {
    transform: scale(1.2);
}