.title,
.heart {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
    margin-top: 5rem;
    margin-left: 2rem;
}

.heartMargin {
    margin-top: 5.5rem;
}

.heartFavorited {
    color: red;
}

.container {
    display: flex;
    align-items: vertical;
}

.containerIMdbRunTimeYear {
    display: flex;
    flex-direction: vertical;
    gap: 0.5rem;
}

.info {
    display: flex;
    margin-bottom: 1rem;
}

.poster {
    position: absolute;
    right: 0.5rem;
    width: 30rem;
    height: 40rem;
    background-size: cover;
    background-position: right;
    z-index: -1;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.year,
.runtime,
.genre,
.director,
.writer,
.actors,
.language,
.country,
.awards,
.rating {
    font-size: 1rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.margin {
    margin-left: 2rem;
}

.plot {
    font-size: 1.2rem;
    color: white;
    width: 60rem;
    margin-left: 2rem;
}

.label {
    font-size: 1rem;
    color: rgb(41, 158, 241);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2rem;
    font-weight: bold;
}