.Home {
    background-color: black;
    height: 100vh;
}

body {
    background-color: black;
    /* or any color you want */
}

.errorMessage {
    color: white;
    font-weight: bold;
    text-align: center;
}

.filter-container {
    display: flex;
    margin-left: 6rem;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.filterButton {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.resultsP {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 6rem;
    margin-top: 20px;
}